.person-card {
    width: 70%;
    height: 100px;
    margin: 10px auto;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    &>div {
        height: 100%;
        &:first-child,
        &:last-child {
            width: 15%;
        }
    }
    .person-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .person-info {
        display: flex;
        flex-flow: column;
        width: 70%;
        padding: 0 4px;
        &__name {
            height: 22px;
            margin: 4px 0 4px 0;
            font-weight: 400;
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            div {
                width: 100%;
            }

            input {
                width: 100%;
                height: 22px;
                outline: none;
                border: none;
                font-size: 15px;
            }
        }
        &__about {
            height: calc(100% - 24px);
            margin: 0 0 4px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;
        }
    }
    .person-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        >div {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                padding: 0 15%;
                font-size: 20px;
                color: #DC143C;
                cursor: pointer;
                &.orange {
                    color: orange;
                }
            }
        }
    }
}