html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
}

html {
    overflow: hidden;
    background: linear-gradient(rgba(60, 98, 221, 0.6), rgba(255, 255, 255, 0.5));
}

body {
    overflow: auto;
    height: 100%;
}

main {
    height: calc(100% - 20px);
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}